<form [formGroup]="messageForm" (ngSubmit)="handleSubmit()"  >
  <fieldset>
    <div>
      <label for="sender">Sender</label>
      <input type="email" formControlName="sender">
    </div>
    <div>
      <label for="subject">Subject</label>
      <input type="text" formControlName="subject">
    </div>
    <div>
      <label for="body">Body</label>
      <input type="text" formControlName="body">
    </div>
  </fieldset>
  <button type="submit" [disabled]="!messageForm.valid">Submit</button>
</form>
<ul>
  <li>{{ messageForm.value | json }}</li>
  <li>{{ messageForm.valid | json }}</li>
</ul>

